project.xcworkspace
xcuserdata
.DS_Store
*.xcuserstate
*.xcbkptlist
*.xcscheme
*.orig
xcschememanagement.plist
contents.xcworkspacedata
DerivedData/
.gitmodules
Pods/
.generated.swift
R.generated.swift
